<div class="cards-container" >
        <!-- <mat-checkbox color="primary" [checked]="card.isDone" (change)="checkCard($event.checked)"></mat-checkbox> -->
        <input class="checkbox-card" type="checkbox" [checked]="card.isDone" (change)="checkCard($event)">
    <span class="card-span" *ngIf="!editCard" [ngClass]="{decoration:card.isDone}">{{card.title}}</span>
    <input class="edit-input" matInput type="text" *ngIf="editCard" value="{{card.title}}" (change)="getUpdatedCard($event)" (keyup.enter)="updateThisCard()">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="cards-menu">
        <mat-icon class="menu-icon">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item class="menu-buttons" (click)="editCard=true;newTitle=card.title">
                <mat-icon class="menu-items-icon">edit_outline</mat-icon>
                EDIT
            </button>
            <button mat-menu-item class="menu-buttons" (click)="deleteThisCard()"> 
                <mat-icon class="column-delete-icon menu-items-icon" >delete</mat-icon>
                DELETE
            </button>
    </mat-menu>
</div>
