<app-header></app-header>
<div class="boards-container">
    <span class="boards-title">My boards</span>
    <div class="my-boards">
        <app-boards *ngFor="let board of boards" [board]="board"></app-boards>
    
        <div class="new-board-div" >
            <button mat-raised-button class="text-board" (click)="insertFormStatus=!insertFormStatus" *ngIf="!insertFormStatus">
                <mat-icon>add_circle_outline</mat-icon>
                <span class="add-board-span">  ADD NEW BOARD</span>
            </button>

            <div *ngIf="insertFormStatus" class="new-board" >
                <input matInput placeholder="Enter a board title" class="board-create-input" [(ngModel)]="newBoardTitle"  >
                <div class="new-board-buttons">
                    <button mat-button (click)="createBoard()">
                        SAVE
                    </button>
                    <button mat-button class="cancel" (click)="insertFormStatus=!insertFormStatus">
                        CANCEL
                    </button>
                </div>
              </div>
        </div>
    </div>
    
</div>

<div class="assigned-boards-container" *ngIf="assigned">
    <span class="boards-title">Assigned boards</span>
    <div class="assigned-boards">
        <app-boards *ngFor="let board of assignedBoards" [board]="board"></app-boards>
    </div>
</div>