@mixin flexRow {
  display: flex;
  flex-direction: row;
}
@mixin font {
  font-family: "Raleway", sans-serif;
  font-style: normal;
}
.column-container {
  width: 288px;
  background: #dfeeff;
  border: 1px solid rgba(223, 238, 255, 0.3);
  box-sizing: border-box;
  border-radius: 6px;
  margin-left: 16px;
  height: auto;
}
.column-header {
  @include flexRow();
  align-items: center;
  margin-top: 15px;
}
.column-title {
  @include font();
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #334681;
  margin-left: 15px;
}
.column-delete-icon {
  color: rgba(55, 125, 255);
  margin-left: auto;
}
.todo-add-button {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  @include font();
  font-weight: 500;
  font-size: 14px;
  line-height: 140.1%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #377dff;
  cursor: pointer;
}
.todo-add-button:hover {
  color: #334681;
}
.todo-add-button:active {
  color: #377dff;
}
.add-span {
  margin-left: 9.5px;
}
.columns-footer {
  width: 288px;
  height: 24px;
}
.new-card {
  width: 256px;
  margin-left: 16px;
}
.create-input {
  width: 256px;
  min-height: 40px;
  background-color: white;
  margin-top: 12px;
  padding-bottom: 24px;
  padding-left: 10px;
  box-sizing: border-box;
}
.cancel {
  margin-left: auto;
  margin-right: 1px;
  cursor: pointer;
}
.new-card-buttons {
  @include flexRow();
  width: 288px;
  margin-left: -16px;
  color: #377dff;
}
