@import "src/app/styles/global-styles.scss";

.registration-field-container {
  @include flex-d(flex, column);
  width: 592px;
  min-height: 694px;
  max-height: 900px;
  margin: 0 auto;
  margin-top: 109px;
  background-color: white;
  box-shadow: 0px 4px 44px rgba(51, 70, 129, 0.3);
  border-radius: 6px;
}
.login-button {
  @include font(600, 14px, 140.1%);
  width: 216px;
  height: 48px;
  text-align: center;
  background: #fef2c4;
  border-radius: 50px;
}
.auth-input {
  @include font();
  width: 448px;
  height: 48px;

  border: 1px solid #b0cfff;
  box-sizing: border-box;
  border-radius: 4px;
}
.unActiveButton {
  @include font(600, 14px, 140.1%);
  width: 216px;
  height: 48px;
  text-align: center;
  border: none;
  box-shadow: none;
  border-radius: 50px;
  margin-left: 19px;
}
.unActiveButton:hover {
  background: #fef2c4;
}
.text-login {
  @include font(600, 33px, 140.1%);
  margin-top: 46px;
  text-align: center;
}
.username-input {
  @include flex-d(flex, column);
  @include font(500, 14px, 146.1%);
  margin-top: 33px;
  margin-left: 72px;
}
.buttons {
  margin-top: 24px;
  margin-left: 72px;
  margin-bottom: 24px;
}
.incorrect {
  @include font();
  margin: 0 auto;
  margin-top: 10px;
  color: red;
}
.errors {
  @include flex-d(flex, column);
  justify-content: center;
}
