<form [formGroup]="myForm" class="registration-field-container" novalidate (submit)="registrationUser()">
    <div class="text-login">
      SIGN UP
    </div>
    <div class="username-input form-group">
        <span>Name</span>
        <input class="auth-input form-control" formControlName="name" name="name"  matInput required>
    </div>
    <div [hidden]="myForm.controls['name'].valid || myForm.controls['name'].untouched" class="incorrect" >
        Name must be contain 3 or more symbols
    </div>

    <div class="username-input form-group">
        <span>LastName</span>
        <input class="auth-input form-control" formControlName="lastName" name="lastName"  matInput required>
    </div>
    <div [hidden]="myForm.controls['lastName'].valid || myForm.controls['lastName'].untouched" class="incorrect">
        LastName must be contain 3 or more symbols
    </div>

    <div class="username-input form-group">
        <span>E-mail</span>
        <input class="auth-input form-control"  formControlName="email" name="email" matInput required>
    </div>
    <div [hidden]="myForm.controls['email'].valid || myForm.controls['email'].untouched" class="incorrect">
        Incorrect E-mail
    </div>
    
    <div class="username-input form-group">
        <span>Password</span>
        <input class="auth-input form-control" id="password" formControlName="password" matInput type="password" name="password" required>
    </div>

    <!-- pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#\$%\^&_/]).{6,}$" -->

    <div *ngIf="myForm.controls['password'].errors?.minlength" class="incorrect">
        Passwords must be at least 6 characters
    </div>
    <div *ngIf="myForm.controls['password'].errors!==null">
        <div *ngIf="myForm.controls['password'].errors.digits" class="incorrect">
            Passwords must have at least one digit 
        </div>
        <div *ngIf="myForm.controls['password'].errors.lowerCase" class="incorrect">
            Passwords must have at least one lowercase ('a'-'z') 
        </div>
        <div *ngIf="myForm.controls['password'].errors.upperCase" class="incorrect">
            Passwords must have at least one uppercase ('A'-'Z')  
        </div>
        <div *ngIf="myForm.controls['password'].errors.alphanumeric" class="incorrect">
            Passwords must have at least one non alphanumeric character 
        </div>
    </div>
    

    <div class="username-input form-group">
        <span>Confirm Password</span>
        <input class="auth-input form-control" formControlName="confirmedPassword" matInput type="password" required>
    </div>
    
    <div class="incorrect" *ngIf="passwordsInCorrected">Incorrect passwords</div>
    <div class="buttons form-group">
        <button class="login-button" [disabled]="myForm.invalid" mat-raised-button type="submit" >SIGN UP</button>
        <button  class="unActiveButton"  mat-raised-button [routerLink]="['']">LOG IN</button>
    </div>
</form>