@mixin flexColumn {
  display: flex;
  flex-direction: column;
}
@mixin flexRow {
  display: flex;
  flex-direction: row;
}
@mixin font {
  font-family: "Raleway";
  font-style: normal;
  letter-spacing: 0.07em;
  color: #334681;
}
.container {
  @include flexColumn();
}
.header {
  @include flexRow();
  align-items: center;
  width: 100%;
  margin-top: 22px;
}
.logo-container {
  @include flexRow();
  margin-left: 56px;
  align-items: center;
  user-select: none;
}
.logo-container:hover {
  cursor: pointer;
}
.logo {
  @include font();
  width: 136px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.name-project {
  @include flexColumn();
  @include font();
  width: 56px;
  margin-left: 16px;
  font-weight: 600;
  font-size: 9px;
  line-height: 129.1%;
  text-transform: uppercase;
}
.search-block {
  @include flexRow();
  @include font();
  align-items: center;
  background: #fef2c4;
  border-radius: 50px;
  margin-left: 48px;
  width: 208px;
  height: 32px;
}
.search-input-div {
  @include font();
  font-weight: 600;
  font-size: 9px;
  line-height: 140.1%;
  border-bottom: 0px;
  text-transform: uppercase;
  width: 70%;
  background: #fef2c4;
  border: none;
}

.search-icon {
  margin-left: 13px;
  font-size: 15px;
  height: 15px;
}
.user-photo {
  font-size: 32px;
}
.user-container {
  @include flexRow();
  align-items: center;
  margin-left: auto;
  margin-right: 56px;
  cursor: pointer;
  user-select: none;
}
.user-full-name {
  @include flexColumn();
  @include font();
  width: 100px;
  margin-left: 12px;
  font-weight: bold;
  font-size: 14px;
  line-height: 140.1%;
  text-transform: uppercase;
}
.logout-button {
  @include font();
  width: 88px;
  height: 32px;
  margin-left: 12px;
  background: #fef2c4;
  border-radius: 50px;
  font-weight: 600;
  font-size: 9px;
  line-height: 140.1%;
}
.log-buttons {
  @include flexRow();
  margin-right: 56px;
  margin-left: auto;
}
.buttonStyle {
  background-color: #b0cfff;
  box-shadow: none;
  border: 0px;
}
.buttonStyle:hover {
  background-color: #fef2c4;
  border: 1px;
}
@media (max-width: 820px) {
  .logo-container {
    margin-left: 8px;
  }
  .user-container {
    margin-right: 16px;
  }
  .search-block {
    margin-left: 16px;
  }
  .button-history {
    margin-left: auto;
    margin-right: 16px;
  }
  .log-buttons {
    margin-right: 16px;
  }
}

.photo-add-input {
  display: flex;
  position: absolute;
  width: 233px;
  height: 50px;
  margin-left: auto;
  align-items: center;
  right: 120px;
  margin-top: 90px;
  background-color: rgba(55, 125, 255, 1);
  z-index: 10;
  padding-left: 10px;
}
.no-default-logo {
  width: 32px;
  height: 32px;
  background-size: cover;
  border-radius: 50%;
}
