<div class="history-container">
    <div class="history-page-content">
        <div class="history-title">
            <span class="history-span">History</span>
            <mat-icon class="close-history-button" (click)="closeHistoryField()">highlight_off</mat-icon>
        </div>
        <div class="history-items">
            <app-history-items></app-history-items>
            <app-history-items></app-history-items>
            <app-history-items></app-history-items>
            <app-history-items></app-history-items>
            <app-history-items></app-history-items>
            <app-history-items></app-history-items>
            <app-history-items></app-history-items>
            <app-history-items></app-history-items>
            <app-history-items></app-history-items>
            <app-history-items></app-history-items>
            <app-history-items></app-history-items>
            <app-history-items></app-history-items>
            <app-history-items></app-history-items>
            <app-history-items></app-history-items>
            <app-history-items></app-history-items>
        </div>
    </div>
</div>