<div class="reset__container">
    <app-header></app-header>
    <form #myForm='ngForm' class="reset__content" novalidate >
        <span class="head-span">RESET PASSWORD</span>
        <span class="text-span">On your email will be sent mail with link for reseting your password</span>

        <div class="email-input form-group" >
            <span>E-mail</span>
            <input matInput name="reset-email" class="form-control" placeholder="Enter your E-mail..." [(ngModel)]="email" #resetEmail="ngModel" email required>
        </div>
        <div [hidden]="resetEmail.valid || resetEmail.untouched">
            Incorrect E-mail
        </div>
        <div class="send-button form-group">
            <button mat-raised-button [disabled]="myForm.invalid" (click)="sendEmail()">Send E-mail</button>
        </div>
    </form>
</div>