<form #myForm="ngForm" class="authorization-field-container" novalidate >
        <div class="text-login">
           LOG IN 
        </div>
        <div class="username-input form-group">
            <span>E-mail</span>
            <input class="auth-input form-control" name="email" matInput [(ngModel)]="email" required email>
        </div>
        <div class="username-input form-group">
            <span>Password</span>
            <input class="auth-input form-control" name="userPass" matInput [(ngModel)]="pass" type="password" ngModel 
            required>
        </div>
        <div class="buttons form-group">
            <button class="login-button" mat-raised-button [disabled]="myForm.invalid" (click)="clickOnLoginButton(myForm)">LOG IN</button>
            <button  class="unActiveButton forgot-button"  mat-raised-button>FORGOT PASSWORD</button>
        </div>
        <div *ngIf="incorrectedData">
                <span> Неправильный логин или пароль</span>
        </div>


       
</form>
<button class="google" (click)="loginWithGoogle()">Google AUTH</button>


