<div class="user-menu">
    <div class="user-menu__avatar">
        <span>Choose Avatar</span>
        <button mat-raised-button class="photo-add-input">
            <input  type="file" name="" id="" placeholder="Choose image" (change)="fileUpload($event)">
        </button>
    </div>
    
    <div class="user-menu__search">
        <span>Assign user</span>
        <input type="text"
            placeholder="Enter user email"
            aria-label="Number"
            matInput
            class="user-input"
            [matAutocomplete]="auto"
            (input)="getUserName($event)"
        >
        <mat-autocomplete #auto="matAutocomplete"  (optionSelected)="getUserEmail($event.option)">
            <mat-option *ngFor="let user of users" [value]="user.email">
                  {{user.email}}
            </mat-option>
       
        </mat-autocomplete>
    </div>

    <button mat-raised-button class="assign-user" (click)="assignUser()">Assign User</button>
</div>