@import "src/app/styles/global-styles.scss";

.user-menu {
  @include flex-d(flex, column);
  @include centering();
  background-color: #dfeeff;
  width: 300px;
  min-height: 180px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 30%), 0px 1px 5px 0px rgb(0 0 0 / 51%);
}
.user-menu__avatar {
  @include flex-d(flex, column);
  align-items: center;
}
.user-menu__search {
  @include flex-d(flex, column);
  align-items: center;
  margin-top: 10px;
}

.photo-add-input {
  padding-left: 5px;
  width: 260px;
}
.user-input {
  width: 260px;
  height: 25px;
}
.assign-user {
  margin-top: 10px;
}
