<div class="columns-container">
    <!-- header -->
    <div class="columns-header">
        <div class="logo">TMAS</div>
        <div class="name-project">
            <span>SIMPLE</span>
            <span>TASK</span>
            <span>MANAGER</span>
        </div>
        <div class="search-block">
            <mat-icon class="search-icon" matSuffix>search</mat-icon>
            <mat-form-field class="search-input" appearance="">
                <input matInput placeholder="SEARCH">
              </mat-form-field>
        </div>
        <div class="user-container">
            <div class="user-photo">
            </div>
            <div class="user-full-name">
                <span>Name</span>
                <span>Surname</span>
            </div>
            <button mat-raised-button class="logout-button">LOG OUT</button>
        </div>
    </div>


    <button mat-flat-button class="button-history">
        <mat-icon class="history-icon">history</mat-icon>
        <span class="span-button">History</span>
    </button>

    <!-- body -->
    <app-columns></app-columns>
</div>
