<div class="container">
    <app-header></app-header>
    <button mat-flat-button class="button-history">
        <mat-icon class="history-icon">history</mat-icon>
        <span class="span-button">History</span>
    </button>

    <div class="columns-wrapper">
            <div cdkDropListGroup class="group-item">
                <app-columns *ngFor="let column of columns" [column]="column" (updateColumnsList)="getAllColumns()">
                </app-columns>
            </div>
    </div>
</div>
