.container {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 22px;
}
.logo {
  width: 136px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-left: 56px;
  letter-spacing: 0.07em;
  color: #334681;
}
.name-project {
  display: flex;
  flex-direction: column;
  width: 56px;
  margin-left: 16px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 9px;
  line-height: 129.1%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #334681;
}
.search-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fef2c4;
  border-radius: 50px;
  margin-left: 48px;
  width: 208px;
  height: 32px;
}
.search-input {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 9px;
  line-height: 140.1%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #334681;
}
.search-icon {
  margin-left: 13px;
  font-size: 15px;
  height: 15px;
}
.user-photo {
  width: 32px;
  height: 32px;
  background-color: #334681;
}
.user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: 56px;
}
.user-full-name {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin-left: 12px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 140.1%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #334681;
}
.logout-button {
  width: 88px;
  height: 32px;
  margin-left: 12px;
  background: #fef2c4;
  border-radius: 50px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 9px;
  line-height: 140.1%;
  text-align: center;
  letter-spacing: 0.07em;
  color: #334681;
}
.button-history {
  width: 128px;
  height: 40px;
  margin-left: auto;
  margin-right: 56px;
  background-color: rgba(55, 125, 255, 0.2);
  border-radius: 4px;
}
.span-button {
  top: 0;
  z-index: 1;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140.1%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #377dff;
}
.history-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  color: #377dff;
  margin-right: 7.75px;
}
.columns-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
  margin-top: 16px;
}
