<div class="main-page-container">
    <app-header></app-header>
    <div class="authorization-field-container">
        <div class="text-login">
           LOG IN 
        </div>
        <div class="username-input">
            <span>E-mail</span>
            <input class="auth-input" matInput (input)="getUserName($event)">
        </div>
        <div class="username-input">
            <span>Password</span>
            <input class="auth-input" matInput type="password" (input)="getUserPassword($event)">
        </div>
        <div class="buttons">
            <button class="login-button" mat-raised-button   (click)="clickOnLoginButton()">LOG IN</button>
            <button  class="unActiveButton forgot-button"  mat-raised-button>FORGOT PASSWORD</button>
        </div>
        <div *ngIf="incorrectedData">
                <span> Неправильный логин или пароль</span>
        </div>
    </div>
</div>

