@import "src/app/styles/global-styles.scss";

.columns-list {
  max-width: 100%;
  @include flex-d(flex, row);
  overflow: hidden;
}
.columns-box {
  color: rgba(0, 0, 0, 0.87);
  display: block;
}

.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.9, 1);
}

.columns-list.cdk-drop-list-dragging .columns-box:not(.cdk-drag-placeholder) {
  transition: transform 400ms cubic-bezier(0, 0, 0.2, 1);
}

.group-item {
  @include flex-d(flex, row);
}
.cdk-drag-placeholder {
  opacity: 0;
}
