@mixin flexColumn {
  display: flex;
  flex-direction: column;
}
@mixin flexRow {
  display: flex;
  flex-direction: row;
}
@mixin font {
  font-family: "Raleway", sans-serif;
  font-style: normal;
}
.card-page {
  @include flexColumn();
  @include font();
  width: 749px;
  height: 860px;
  background-color: white;
  opacity: 1;
  border-radius: 50px;
  overflow: auto;
}
.card-page__date-block {
  width: 128px;
  background: #fef2c4;
  height: 52px;
}
.card-page__close-icon {
  cursor: pointer;
  user-select: none;
  margin-left: auto;
  margin-right: 16px;
}
.card-page__header {
  @include flexRow();
  align-items: center;
  height: 80px;
  background-color: #dfeeff;
}
.card-page__title-container {
  @include flexColumn();
  @include font();
  margin-left: 30px;
  color: #334681;
  font-weight: bold;
  font-size: 15pt;
}
.card-page__date-info {
  @include flexColumn();
  @include font();
  margin-top: auto;
  align-items: center;
  font-size: 11pt;
  background-color: #dfeeff;
  height: 80px;
  color: #334681;
}
.card-page__current-date {
  user-select: none;
  @include flexRow();
  @include font();
  justify-content: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 11pt;
}
.card-page__time {
  font-size: 11pt;
  width: 186px;
  padding-left: 8px;
  border: 1px solid #b0cfff;
  color: #334681;
}
.date-info__span {
  margin-top: 10px;
}

.card-page__new-date-time {
  @include flexRow();
  margin-left: 50px;
}
.card-page__new-time {
  @include flexColumn();
  align-items: center;
}
.card-page__new-date {
  @include flexColumn();
  margin-left: 65px;
  align-items: center;
}

.card-page__user-name {
  @include font();
  font-size: 12pt;
}
.card-page__column-title {
  font-size: 12pt;
  color: #377dff;
}
.card-page__input {
  width: 654px;
  min-height: 160px;
  max-height: 500px;
  margin-left: 20px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 24px;
  padding-left: 10px;
  resize: none;
  overflow: hidden;
  overflow-wrap: break-word;
}
.card-page__content {
  @include flexColumn();
  @include font();
  font-size: 11pt;
  margin-top: 30px;
}
.card-page__description {
  margin-left: 16px;
  @include font();
  font-size: 11pt;
}
.card-page__description-text {
  margin-left: 16px;
  @include font();
  font-size: 12pt;
}
.card-page__save-button {
  width: 150px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #377dff;
  color: white;
}
.save-buttons {
  @include flexRow();
}
.card-page__exec-period {
  display: flex;
  align-items: center;
  background-color: yellowgreen;
  width: 322px;
  justify-content: center;
  border-radius: 10px;
}
.red {
  background-color: red;
}
.file-input {
  margin: 0 auto;
  margin-top: 30px;
}
.files-container {
  @include flexRow();
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: center;
  height: 380px;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 8px;
  position: relative;
}
::-webkit-scrollbar-track {
  margin-right: 10px;
  border-radius: 5px;
  background-color: rgb(55, 125, 255, 0.2);
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: rgb(55, 125, 255, 0.5);
}
