<div class="column-container">
    <div class="column-header">
        <span class="column-title">{{column.title}}</span>
        <button mat-icon-button class="column-delete-icon"> 
            <mat-icon >delete</mat-icon>
        </button>
    </div>

    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
         <app-cards class="example-box" *ngFor="let card of cards" [card]="card" cdkDrag></app-cards>
      </div>

    <div class="columns-footer"></div>
</div>
<div class="todo-add-button">
    <button mat-icon-button >
        <mat-icon>add_circle_outline</mat-icon>
    </button>
     <span>ADD TODO</span>
</div>

