.cards-container {
  display: flex;
  flex-direction: row;
  margin-left: 16px;
  background: #ffffff;
  width: 256px;
  box-shadow: 0px 2px 4px -2px rgba(24, 39, 75, 0.12),
    0px 4px 4px -2px rgba(24, 39, 75, 0.08);
  border-radius: 4px;
  margin-top: 8px;
  min-height: 48px;
}
.card-span {
  width: 192px;
  margin-top: 14px;
  margin-left: 7px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 146.1%;
  color: #334681;
  word-wrap: break-word;
}
.checkbox {
  margin-top: 15px;
  margin-left: 16px;
  border-radius: 3px;
}

.menu-icon {
  color: #377dff;
}

.menu-buttons {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140.1%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(55, 125, 255, 0.8);
}
.menu-items-icon {
  color: #ffffff;
}
