<div class="reset__container">
    <app-header></app-header>
    <form [formGroup]="myForm" novalidate class="reset__content" submit="">
        <span class="reset-span">Reset Password</span>
        <div class="input form-group" >
            <span>Enter new password</span>
            <input class="form-control" name='password' matInput type="password" formControlName="password"
            required>
        </div>

        <div [hidden]="myForm.controls['password'].valid || myForm.controls['password'].untouched" class="errors">
            <div *ngIf="myForm.controls['password'].errors?.minlength" class="incorrect">
                Passwords must be at least 6 characters
            </div>

            <div *ngIf="myForm.controls['password'].errors?.digits" class="incorrect">
                Passwords must have at least one digit
           </div>
            <div *ngIf="myForm.controls['password'].errors?.lowerCase" class="incorrect">
                 Passwords must have at least one lowercase ('a'-'z') 
            </div>
            <div *ngIf="myForm.controls['password'].errors?.upperCase" class="incorrect">
                Passwords must have at least one uppercase ('A'-'Z')  
            </div>
            <div *ngIf="myForm.controls['password'].errors?.alphanumeric" class="incorrect">
                Passwords must have at least one non alphanumeric character 
         </div>
    </div>
       
        <div class="input form-group">
            <span>Confirm new password</span>
            <input class="form-control" name='confirmPass' matInput  type="password" formControlName="confirmPassword">  
        </div>
        <div *ngIf="incorrect" class="incorrect">
            Incorrect passwords
        </div>
        <div *ngIf="!incorrect" class="correct">
            {{message}}
        </div>
        <div class="button form-group">
            <button class="form-control" [disabled]="myForm.invalid" mat-raised-button (click)="resetPassword(myForm.value)">Reset password</button>
            <button *ngIf="isSuccess" [disabled]="myForm.invalid" mat-raised-button (click)="login()">Go to boards</button>
        </div>
    </form>
</div>