<div class="reset__container">
    <app-header></app-header>
    <form #myForm='ngForm' novalidate class="reset__content">
        <span class="reset-span">Reset Password</span>
        <div class="input form-group" >
            <span>Enter new password</span>
            <input class="form-control" name='password' matInput type="password" #newPass="ngModel" [(ngModel)]="newPassword" required>
        </div>
        <div [hidden]="newPass.valid || newPass.untouched" class="incorrect">
            Passwords must be at least 6 characters <br>
            Passwords must have at least one lowercase ('a'-'z') <br>
            Passwords must have at least one uppercase ('A'-'Z') <br>
            Passwords must have at least one digit ('0'-'9') <br>
            Passwords must have at least one non alphanumeric character
        </div>
        <div class="input form-group">
            <span>Confirm new password</span>
            <input class="form-control" name='confirmPass' matInput  type="password" matInput [(ngModel)]="confirmedPassword" #newPassConfirm='ngModel' required>
        </div>
        <div *ngIf="incorrect" class="incorrect">
            Incorrect passwords
        </div>
        <div class="button form-group">
            <button class="form-control" [disabled]="myForm.invalid" mat-raised-button (click)="resetPassword()">Reset password</button>
            <button *ngIf="isSuccess" [disabled]="myForm.invalid" mat-raised-button (click)="login()" [routerLink]="['/boards']">Go to boards</button>
        </div>
    </form>
</div>